@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Merriweather", serif;
}
/* share style */
.red-color {
	color: #ff0000;
}
/* banner style */
.banner-container {
	text-align: center;
	background-image: linear-gradient(
			180deg,
			rgb(7, 2, 17),
			rgba(7, 2, 17, 0) 100%
		),
		url("../images/Banner\ Image.png");
	width: 1320px;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 50px auto;
}
.banner-title {
	font-size: 32px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	line-height: 400px;
}

.banner-description {
	font-size: 72px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	margin-top: -150px;
}
/* offer section style */
.offer-container {
	text-align: center;
	font-family: "Inter", sans-serif;
}
.offer-title {
	font-size: 88px;
	font-weight: bold;

	margin-top: 120px;
	margin-bottom: 50px;
}
.offer-description {
	font-size: 24px;
	font-weight: 500;
}
.offer-category-title {
	font-size: 48px;
	font-weight: bold;
	margin-top: 16px;
}
.offer-img {
	height: 500px;
	width: 800px;
	margin-top: 47px;
}
/* welcome section design */
.welcome-container {
	background-image: linear-gradient(
			90deg,
			rgb(7, 2, 17),
			rgba(7, 2, 17, 0) 100%
		),
		url(../images/Vectorrr.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 1320px;
	height: 600px;
	margin: 120px auto;
	display: flex;
}
.welcome-title {
	font-size: 64px;
	font-weight: 900;
	color: white;
	margin: 126px 550px 298px 126px;
	position: absolute;
}
.welcome-description {
	font-size: 18px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	margin: 326px 497px 214px 126px;
	position: absolute;
	width: 697px;
	height: 60px;
	color: rgba(255, 255, 255, 0.8);
}
.welcome-img {
	position: absolute;
	width: 349.16px;
	height: 464.65px;
	margin: 69px 109px 68px 860px;
}
.welcome-join-text {
	font-size: 20px;
	font-weight: 700;
	font-family: "Inter", sans-serif;
	position: absolute;
	margin: 434px 1069px 142px 158px;
	color: white;
}
